{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div id="app" class="az-content-body">
	<div class="az-content-body-left">
		<div class="row row-sm mg-b-20">
			<div class="col-lg-12">
				<div class="card card-table-two">
					<h6 class="card-title">Notificaciones</h6>
					<div class="table-responsive mg-t-20">
						<table class="table table-striped table-dashboard-two mg-b-0">
							<thead>
								<tr>
									<th class="wd-lg-25p">Persona detectada</th>
									<th class="wd-lg-20p tx-right">Fecha</th>
									<th class="wd-lg-25p tx-right">Ubicación</th>
									<th class="wd-lg-15p tx-right">Detalles</th>
									<th class="wd-lg-15p tx-right">Estatus</th>
								</tr>
							</thead>
							<tbody>
							  {% if notifications %}
								{% for notification in notifications %}
								<tr>
									<td>{{ notification.person_name | upper }}</td>
									<td class="tx-right tx-inverse font-weight-bold">
										{{ notification.created }}
									</td>
									<td class="tx-right tx-inverse">
										{{ notification.camera.description }}
									</td>
									<td class="tx-right tx-danger">
									    <a href="javascript:void(0)"
									        @click="getNotification('{{ notification.pk }}')">
									    	Ver
									    </a>
									</td>
									<td class="tx-right tx-inverse">
										{% if notification.is_ready %}
										    <i class="typcn typcn-input-checked text-success"></i> 
										    <span class="text-success tx-10 font-weight-bold">Visto</span>
										{% else %}
										    <i class="typcn typcn-delete text-danger"></i>
										    <span class="text-danger tx-10 font-weight-bold">Nuevo</span>
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							  {% else %}
							    <tr>
							    	<td colspan=5 class="text-center">No hay notificaciones</td>
							    </tr>
							  {% endif %}
							</tbody>
						</table>
						{% if is_paginated %}
		                    <div class="list-group d-block">
				              <br/>
				              <ul class="pager text-right">
				                {% if notifications.has_previous %}
				                  <a class="btn btn-secondary" href="?page={{ notifications.previous_page_number }}">Anterior</a>
				                {% endif %}
				                {% if notifications.has_next %}
				                  <a class="btn btn-success" href="?page={{ notifications.next_page_number }}">Siguiente</a>
				                {% endif %}
				              </ul>
				            </div>
		            	{% endif %}
					</div><!-- table-responsive -->
				</div><!-- card-dashboard-five -->
			</div><!-- col -->
		</div><!-- row -->
		<!-- END GRID 1 -->
	</div>

	<!-- NOTIFICATIONS -->
	<div class="az-content-body-right">
		<label class="az-content-label tx-base mg-b-25">
			Detalle de Notificación
		</label>
		<div v-if="!empty_detalle">
			<div class="az-media-list-reviews">
				<div class="media">
					<div class="media-body">
						<div class="d-flex justify-content-between mg-b-10">
							<div>
								<img v-bind:src='image_capture' alt="" width="100%">
							</div>
						</div>
						<p class="mg-b-0">
							<table class="table mg-b-0">
								<tbody>
									<tr><td>
										<span class="tx-12">
											Persona detectada: [[ notification.person_name ]]
										</span>

									</td></tr>
									<tr><td>
									    <span class="tx-12">
									    	Lugar/Cámara: [[ notification.cam_description ]]
									    </span>
									</td></tr>
									<tr><td>
									    <span class="tx-12">
									        Fecha: [[ notification.created ]]
									    </span>
									</td></tr>
									<tr><td></td></tr>
								</tbody>
							</table>
							<p class="text-center"><a v-bind:href="urlPage(notification.id)">Ver más</a></p>
						</p>
					</div><!-- media-body -->
				</div><!-- media -->
			</div><!-- media-list -->
		</div>
		<div v-if="empty_detalle">
			<div class="az-media-list-reviews">
				<div class="media text-center">
					<span class="btn btn-block text-center">No se ha seleccionado alguna notificación</span>
				</div><!-- media -->
			</div><!-- media-list -->
		</div>
	</div>
    <!-- END NOTIFICATIONS -->
    {% include "app/modals/camera_modals.html" %}
</div><!-- az-content-body -->
{% endblock content %}

{% block extra_js %}
 <script src="{% static 'pkg/vue.js' %}"></script>
 <script src="{% static 'pkg/axios.js' %}"></script>
 <script src="{% static 'js/list_notifications.js' %}"></script>
{% endblock extra_js %}