{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div id="app" class="az-content-body">
	<div class="az-content-body-left">
		<div class="row row-sm mg-b-20">
			<div class="col-lg-12">
				<div class="card card-table-two">
					<h6 class="card-title">Listado de personas</h6>
					<div class="table-responsive mg-t-20">
						<!-- Show All List -->
						<table class="table table-striped table-dashboard-two mg-b-0">
							<thead>
								<tr>
									<th class="wd-lg-40p">Persona</th>
									<th class="wd-lg-20p">Creado</th>
									<th class="wd-lg-15p tx-right">Whitelist</th>
									<th class="wd-lg-15p tx-right">Blacklist</th>
									<th class="wd-lg-10p tx-right">Editar</th>
								</tr>
							</thead>
							<tbody>
							  {% if persons %}
								{% for person in persons %}
								<tr>
									<td>{{ person.fullname }}</td>
									<td class="tx-right tx-inverse font-weight-bold">
										{{ person.created }}
									</td>
									<td class="tx-right tx-inverse">
										{% if person.is_white_list %}
										    <i class="typcn typcn-input-checked text-success"></i> 
										{% else %}
										    <i class="typcn typcn-delete text-danger"></i>
										{% endif %}
										<span class="text-success tx-10 font-weight-bold"> whitelist</span>
									</td>
									<td class="tx-right tx-inverse">
										{% if person.is_black_list %}
										    <i class="typcn typcn-input-checked text-success"></i> 
										{% else %}
										    <i class="typcn typcn-delete text-danger"></i>
										{% endif %}
										<span class="text-success tx-10 font-weight-bold"> blacklist</span>
									</td>
									<td class="tx-right tx-danger">
										<a href="javascript:void(0)"  
										    @click="getPerson('{{ person.pk }}')">
										    <i class="typcn typcn-edit text-success"></i> 
										</a>
									</td>
								</tr>
								{% endfor %}
							  {% else %}
							    <tr>
							    	<td colspan=5 class="text-center">No hay personas registradas</td>
							    </tr>
							  {% endif %}
							</tbody>
						</table>
                        
						{% if is_paginated %}
		                    <div class="list-group d-block">
				              <br/>
				              <ul class="pager text-right">
				                {% if notifications.has_previous %}
				                  <a class="btn btn-secondary" href="?page={{ notifications.previous_page_number }}">Anterior</a>
				                {% endif %}
				                {% if notifications.has_next %}
				                  <a class="btn btn-success" href="?page={{ notifications.next_page_number }}">Siguiente</a>
				                {% endif %}
				              </ul>
				            </div>
		            	{% endif %}
					</div><!-- table-responsive -->
				</div><!-- card-dashboard-five -->
			</div><!-- col -->
		</div><!-- row -->
		<!-- END GRID 1 -->
	</div>

	<!-- NOTIFICATIONS -->
	<div class="az-content-body-right">
		<label class="az-content-label tx-base mg-b-25">
			Editar Usuario
		</label>
		<div v-if="!empty_person">
			<div class="az-media-list-reviews">
				<div class="media">
					<div class="media-body">
						<p class="mg-b-0">
							<table class="table mg-b-0">
								<tbody>
									<tr><td>
									  <form v-bind:action="url_form" method="POST">
									    {% csrf_token %}	
										<div class="tx-12 pb-3">
											<strong>Persona:</strong>
											<input class="form-control" placeholder="Input box" type="text" v-model="person.fullname" name="person_name"
											id="person_name" required>
											<span v-show="error_empty_name">Este campo es requerido</span>
										</div>
									    <div class="tx-12 pb-3">
											<strong>Lista Blanca / Lista Negra:</strong>
											<div class="row pt-1">
												<div class="col-6 tx-12">
													<label class="ckbox">
										                <input type="checkbox" 
										                  v-model="person.is_white_list" name="whitelist"
										                ><span>Whitelist</span>
										            </label>
										        </div>
										        <div class="col-6 tx-12">
										            <label class="ckbox">
										                <input type="checkbox" 
										                  v-model="person.is_black_list" name="blacklist"
										                ><span>Blacklist</span>
										            </label>
												</div>
										    </div>
									    </div>
									    <button type="submit" class="btn btn-outline-light btn-block">
											Guardar Cambios
									    </button>
									  </form>
									</td></tr>
									<tr><td></td></tr>
								</tbody>
							</table>
						</p>
					</div><!-- media-body -->
				</div><!-- media -->
			</div><!-- media-list -->
		</div>
		<div v-if="empty_person">
			<div class="az-media-list-reviews">
				<div class="media text-center">
					<span class="btn btn-block text-center">No se ha seleccionado alguna persona para editar</span>
				</div><!-- media -->
			</div><!-- media-list -->
		</div>
	</div>
    <!-- END NOTIFICATIONS -->
    {% include "app/modals/camera_modals.html" %}
</div><!-- az-content-body -->
{% endblock content %}

{% block extra_js %}
 <script src="{% static 'pkg/vue.js' %}"></script>
 <script src="{% static 'pkg/axios.js' %}"></script>
 <script src="{% static 'js/list_persons.js' %}"></script>
{% endblock extra_js %}